*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 992px) {
    html {
      font-size: 58%; } }
  @media (max-width: 768px) {
    html {
      font-size: 52%; } }
  @media (max-width: 596px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #f0f2f5;
  height: 100%;
  overflow: hidden; }

.search-wrapper {
  padding-left: 1rem; }

.search-input {
  background-color: #f0f2f5;
  border-radius: 10rem;
  border: none;
  appearance: none;
  outline: none;
  transition: border 0.3s;
  width: 250px;
  padding: 1.25rem; }

.search__submit--hidden {
  visibility: hidden;
  height: 0;
  width: 0; }

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .items-container__item {
    position: relative; }
    .items-container__item .item-box {
      padding: 1rem 4rem;
      margin: 0.5rem 1rem;
      border-radius: 1rem;
      cursor: pointer; }
      .items-container__item .item-box svg {
        fill: #65676b; }
    .items-container__item::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 0%;
      height: 5px;
      background: red;
      transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1); }
    .items-container__item.active svg {
      fill: #1877f2; }
    .items-container__item.active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 3px;
      background: #1877f2;
      transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1); }
    .items-container__item:hover .item-box {
      background-color: #f0f2f5; }
  .items-container__tooltips {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1; }

.stories-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.stories-add-item-wrapper {
  width: 111px;
  height: 195px;
  display: grid;
  grid-template-rows: 60% 40%;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin: 2rem .5rem;
  position: relative;
  transition: all 0.4s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .stories-add-item-wrapper__image-wrapper {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden; }
    .stories-add-item-wrapper__image-wrapper__img {
      flex: 1;
      width: 100%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      transition: all .4s; }
    .stories-add-item-wrapper__image-wrapper__btn {
      position: absolute;
      z-index: 200;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      border-radius: 100%;
      background-color: #1876f2;
      border: solid 5px white;
      cursor: pointer;
      transition: all .4s; }
      .stories-add-item-wrapper__image-wrapper__btn__icon {
        background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/S5w1fjC_xqx.png);
        background-size: 73px 377px;
        background-repeat: no-repeat;
        filter: invert(100%);
        display: inline-block;
        width: 24px;
        height: 22px;
        background-position: 0 -230px;
        margin: .5rem; }
  .stories-add-item-wrapper__text-wrapper {
    padding: 2rem;
    margin-top: .5rem;
    text-align: center;
    font-weight: 600;
    font-size: 14px; }
  .stories-add-item-wrapper:hover {
    filter: brightness(0.9); }
    .stories-add-item-wrapper:hover .stories-add-item-wrapper__image-wrapper__img {
      transform: scale(1.02); }

.stories-other-item-wrapper {
  position: relative;
  width: 111px;
  height: 195px;
  margin: 2rem .5rem;
  transition: all 0.4s;
  border-radius: 20px;
  cursor: pointer;
  transition: all .4s; }
  .stories-other-item-wrapper__img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden; }
    .stories-other-item-wrapper__img-wrapper__img {
      width: 100%;
      border-radius: 20px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      transition: all .4s; }
    .stories-other-item-wrapper__img-wrapper__overlay {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), transparent); }
  .stories-other-item-wrapper__top-wrapper {
    position: absolute;
    top: 0;
    left: 0; }
    .stories-other-item-wrapper__top-wrapper__avatar {
      border-radius: 100%;
      height: 45px;
      width: 45px;
      border: solid 5px #1876f2;
      margin: 1rem; }
  .stories-other-item-wrapper__btm-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF; }
  .stories-other-item-wrapper:hover {
    filter: brightness(0.9); }
    .stories-other-item-wrapper:hover .stories-other-item-wrapper__img-wrapper__img {
      transform: scale(1.02); }

.stories-next-item-wrapper {
  z-index: 1;
  margin-left: -30px;
  cursor: pointer;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  height: 48px;
  width: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
  .stories-next-item-wrapper__btn {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/CkofGP2pzpM.png);
    background-size: 21px 21px;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    height: 20px;
    width: 20px; }
  .stories-next-item-wrapper:hover {
    filter: brightness(0.9); }

.add-post-container {
  display: flex;
  justify-content: center; }
  .add-post-container .add-post-wrapper {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    .add-post-container .add-post-wrapper__top-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 1rem;
      border-bottom: 1px solid #bbb; }
      .add-post-container .add-post-wrapper__top-section .avatar-wrapper {
        cursor: pointer; }
        .add-post-container .add-post-wrapper__top-section .avatar-wrapper__avatar {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          margin-left: .25rem; }
      .add-post-container .add-post-wrapper__top-section .search-wrapper {
        padding-left: 1rem;
        width: 100%; }
        .add-post-container .add-post-wrapper__top-section .search-wrapper .search-form {
          display: flex; }
      .add-post-container .add-post-wrapper__top-section .search-input {
        background-color: #f0f2f5;
        border-radius: 10rem;
        border: none;
        appearance: none;
        outline: none;
        transition: border 0.3s;
        width: 100%;
        padding: 1.25rem; }
      .add-post-container .add-post-wrapper__top-section .search__submit--hidden {
        visibility: hidden;
        height: 0;
        width: 0; }
    .add-post-container .add-post-wrapper__btm-section {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-evenly;
      border-radius: 5px;
      padding: 1rem 0;
      margin-bottom: .5rem;
      margin-top: .5rem;
      cursor: pointer; }
      .add-post-container .add-post-wrapper__btm-section .icon-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; }
        .add-post-container .add-post-wrapper__btm-section .icon-wrapper .live-video {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/FmlBQnWPiFF.png");
          background-size: 25px 303px;
          background-repeat: no-repeat;
          display: inline-block;
          height: 24px;
          width: 24px;
          background-position: 0 -50px; }
        .add-post-container .add-post-wrapper__btm-section .icon-wrapper .photo-video {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/FmlBQnWPiFF.png");
          background-size: 25px 303px;
          background-repeat: no-repeat;
          display: inline-block;
          height: 24px;
          width: 24px;
          background-position: 0 -100px; }
        .add-post-container .add-post-wrapper__btm-section .icon-wrapper .feel-activity {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/fKkroCPq6ya.png");
          background-size: 25px 25px;
          background-repeat: no-repeat;
          display: inline-block;
          height: 24px;
          width: 24px; }
        .add-post-container .add-post-wrapper__btm-section .icon-wrapper p {
          font-size: 15px;
          font-weight: 600;
          color: #65676b;
          margin-left: 0.5rem; }

.post-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem; }
  .post-container .post-wrapper {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
    .post-container .post-wrapper__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .post-container .post-wrapper__top-left {
        display: flex;
        flex-direction: row; }
        .post-container .post-wrapper__top-left .avatar-wrapper img {
          width: 40px;
          height: 40px;
          border-radius: 20px;
          margin-left: 1rem;
          margin-right: 1rem; }
        .post-container .post-wrapper__top-left .avatar-info-wrapper {
          display: flex;
          flex-direction: column; }
          .post-container .post-wrapper__top-left .avatar-info-wrapper__name {
            font-size: 15px;
            font-weight: 600;
            line-height: 19.9995px;
            padding-bottom: .5rem; }
          .post-container .post-wrapper__top-left .avatar-info-wrapper__info {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center; }
            .post-container .post-wrapper__top-left .avatar-info-wrapper__info-time {
              font-size: 13px;
              font-weight: 400; }
            .post-container .post-wrapper__top-left .avatar-info-wrapper__info-privacy {
              margin-left: .5rem; }
              .post-container .post-wrapper__top-left .avatar-info-wrapper__info-privacy .global {
                background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/LDq5Y_k6vr1.png");
                background-size: 25px 851px;
                background-repeat: no-repeat;
                background-position: 0 -721px;
                display: inline-block;
                height: 12px;
                width: 12px;
                filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%); }
      .post-container .post-wrapper__top-right .more-info-wrapper {
        padding: 1rem;
        border-radius: 40px;
        margin-left: 0.5rem;
        transition: all 0.4s; }
        .post-container .post-wrapper__top-right .more-info-wrapper:hover {
          background-color: #cecfd1; }
        .post-container .post-wrapper__top-right .more-info-wrapper .more-info {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/PEuGvduR78n.png");
          background-size: 25px 959px;
          background-repeat: no-repeat;
          background-position: 0 -398px;
          display: inline-block;
          height: 20px;
          width: 20px;
          filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%); }
    .post-container .post-wrapper__sec-top {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 1rem;
      font-size: 15px;
      font-weight: 400;
      line-height: 19.9995px;
      text-align: left; }
    .post-container .post-wrapper__image-section .gallery {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-gap: 5px; }
      .post-container .post-wrapper__image-section .gallery .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; }
      .post-container .post-wrapper__image-section .gallery .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 12;
        /** Alternative Syntax **/
        /* grid-column: 1 / span 2;  */
        /* grid-row: 1 / span 2; */ }
    .post-container .post-wrapper__btm-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid #bbb; }
      .post-container .post-wrapper__btm-section .like-section {
        display: flex;
        flex-direction: row; }
        .post-container .post-wrapper__btm-section .like-section .icon-wrapper {
          margin-left: -.45rem; }
          .post-container .post-wrapper__btm-section .like-section .icon-wrapper .one {
            z-index: 5; }
          .post-container .post-wrapper__btm-section .like-section .icon-wrapper .two {
            z-index: 4; }
          .post-container .post-wrapper__btm-section .like-section .icon-wrapper .three {
            z-index: 3; }
          .post-container .post-wrapper__btm-section .like-section .icon-wrapper .icons {
            display: flex;
            flex-direction: row;
            height: 18px;
            width: 18px;
            margin-top: .5rem;
            margin-bottom: .5rem; }
        .post-container .post-wrapper__btm-section .like-section p {
          font-size: 15px;
          font-weight: 400;
          color: #65676b;
          padding: .5rem; }
      .post-container .post-wrapper__btm-section .share-section {
        display: flex;
        flex-direction: row; }
        .post-container .post-wrapper__btm-section .share-section p {
          font-size: 15px;
          font-weight: 400;
          color: #65676b;
          padding: .5rem; }
    .post-container .post-wrapper__sec-btm-section {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: .5rem; }
      .post-container .post-wrapper__sec-btm-section .icon-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        .post-container .post-wrapper__sec-btm-section .icon-wrapper .like {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Cz13yyagz8V.png");
          background-size: 25px 1032px;
          background-repeat: no-repeat;
          display: inline-block;
          width: 18px;
          height: 18px;
          background-position: 0 -284px;
          filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%); }
          .post-container .post-wrapper__sec-btm-section .icon-wrapper .likeliked {
            background-position: 0 -208px;
            filter: none; }
        .post-container .post-wrapper__sec-btm-section .icon-wrapper .like.liked {
          background-position: 0 -208px;
          filter: none; }
        .post-container .post-wrapper__sec-btm-section .icon-wrapper .liked {
          color: #2078f4; }
        .post-container .post-wrapper__sec-btm-section .icon-wrapper .share {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Cz13yyagz8V.png");
          background-size: 25px 1032px;
          background-repeat: no-repeat;
          display: inline-block;
          width: 18px;
          height: 18px;
          background-position: 0 -360px;
          filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%); }
        .post-container .post-wrapper__sec-btm-section .icon-wrapper .comment {
          background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Cz13yyagz8V.png");
          background-repeat: no-repeat;
          background-size: 25px 1032px;
          background-position: 0 -150px;
          display: inline-block;
          width: 18px;
          height: 18px;
          filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%); }
        .post-container .post-wrapper__sec-btm-section .icon-wrapper p {
          font-size: 15px;
          font-weight: 600;
          color: #65676b;
          padding: .5rem; }

.header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 1; }
  .header__left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 2rem; }
  .header__center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .header__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem; }
    .header__right div {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
    .header__right .avatar-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      cursor: pointer; }
      .header__right .avatar-wrapper__avatar {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        margin-left: .25rem; }
      .header__right .avatar-wrapper__name {
        font-weight: 600;
        font-size: 14px;
        padding: 1rem; }
      .header__right .avatar-wrapper:hover {
        background-color: #f0f2f5; }
    .header__right .etc-wrapper {
      padding: 1rem;
      background-color: #f0f2f5;
      border-radius: 20px;
      cursor: pointer;
      transition: all .25s; }
      .header__right .etc-wrapper svg {
        width: 20px;
        height: 20px; }
      .header__right .etc-wrapper:hover {
        background-color: #cecfd1; }

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 52% 23%; }
  .content__left {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 100px; }
    .content__left .item-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-bottom: 1px solid #bbb;
      margin: 1.25rem 0 0 1rem; }
      .content__left .item-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px 0px 0px 5px;
        width: 99%;
        transition: all 0.4s; }
        .content__left .item-container__item-wrapper__avatar {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          margin-left: .25rem; }
        .content__left .item-container__item-wrapper__name {
          font-weight: 600;
          font-size: 14px;
          padding: 0.5rem 1rem; }
        .content__left .item-container__item-wrapper__notification {
          padding: .25rem;
          display: table-cell;
          color: #1876f2;
          font-size: 12px;
          font-weight: 400; }
        .content__left .item-container__item-wrapper:hover {
          background-color: #cecfd1; }
    .content__left .shortcut-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 1.25rem 0 0 1rem; }
      .content__left .shortcut-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        .content__left .shortcut-container__header--text-wrapper {
          font-size: 17px;
          font-weight: 600;
          color: #65676b; }
        .content__left .shortcut-container__header--edit-wrapper {
          font-size: 15px;
          font-weight: 400;
          color: #1876f2;
          cursor: pointer;
          border-radius: 5px;
          padding: 1rem;
          opacity: 0; }
          .content__left .shortcut-container__header--edit-wrapper:hover {
            opacity: 1;
            background-color: #cecfd1; }
      .content__left .shortcut-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px 0px 0px 5px;
        width: 99%;
        transition: all 0.4s; }
        .content__left .shortcut-container__item-wrapper__avatar {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          margin-left: .25rem; }
        .content__left .shortcut-container__item-wrapper__name {
          font-weight: 600;
          font-size: 14px;
          padding: 0.5rem 1rem; }
        .content__left .shortcut-container__item-wrapper:hover {
          background-color: #cecfd1; }
  .content__center {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 150px; }
  .content__right {
    padding-right: 1.5rem;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 100px; }
    .content__right .friends-req-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-bottom: 1px solid #bbb;
      margin: 1.25rem 0 0 1rem; }
      .content__right .friends-req-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        .content__right .friends-req-container__header--text-wrapper {
          font-size: 17px;
          font-weight: 600;
          color: #65676b; }
        .content__right .friends-req-container__header--edit-wrapper {
          font-size: 15px;
          font-weight: 400;
          color: #1876f2;
          cursor: pointer;
          border-radius: 5px;
          padding: 1rem;
          opacity: 1; }
          .content__right .friends-req-container__header--edit-wrapper:hover {
            opacity: 1;
            background-color: #cecfd1; }
      .content__right .friends-req-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px 5px 5px 5px;
        width: 99%;
        transition: all 0.4s; }
        .content__right .friends-req-container__item-wrapper__avatar {
          width: 40px;
          height: 40px;
          border-radius: 40px;
          margin-left: .25rem; }
        .content__right .friends-req-container__item-wrapper__info-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          width: 100%; }
          .content__right .friends-req-container__item-wrapper__info-wrapper__top-section {
            width: inherit;
            display: grid;
            grid-template-columns: 80% 20%; }
            .content__right .friends-req-container__item-wrapper__info-wrapper__top-section__name {
              text-align: left;
              font-weight: 600;
              font-size: 14px;
              padding: 0rem 1rem; }
            .content__right .friends-req-container__item-wrapper__info-wrapper__top-section__week {
              text-align: right;
              font-weight: 600;
              font-size: 14px;
              color: #65676b;
              padding: 0rem 1rem; }
          .content__right .friends-req-container__item-wrapper__info-wrapper__btm-section {
            width: inherit;
            display: grid;
            grid-template-columns: 1fr 1fr; }
            .content__right .friends-req-container__item-wrapper__info-wrapper__btm-section__cfm {
              background-color: #1877f2;
              color: #FFFFFF;
              margin: 1rem;
              padding: 1rem 2rem;
              outline: none;
              border: none;
              border-radius: 5px; }
            .content__right .friends-req-container__item-wrapper__info-wrapper__btm-section__delete {
              background-color: #cecfd1;
              color: black;
              margin: 1rem;
              padding: 1rem 2rem;
              outline: none;
              border: none;
              border-radius: 5px; }
        .content__right .friends-req-container__item-wrapper:hover {
          background-color: #cecfd1; }
    .content__right .friends-birth-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-bottom: 1px solid #bbb;
      margin: 1.25rem 0 0 1rem; }
      .content__right .friends-birth-container__header__text-wrapper {
        font-size: 17px;
        font-weight: 600;
        color: #65676b; }
      .content__right .friends-birth-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        padding: 1rem 0;
        margin-bottom: .5rem;
        margin-top: .5rem;
        cursor: pointer; }
        .content__right .friends-birth-container__item-wrapper:hover {
          background-color: #cecfd1; }
        .content__right .friends-birth-container__item-wrapper__icon {
          background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/CkM-umrun3d.png);
          background-size: 37px 243px;
          background-repeat: no-repeat;
          display: inline-block;
          height: 36px;
          width: 36px; }
        .content__right .friends-birth-container__item-wrapper__text {
          padding-left: 2rem;
          text-align: left; }
          .content__right .friends-birth-container__item-wrapper__text span {
            font-size: 15px; }
    .content__right .friends-chat-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 1.25rem 0 0 1rem; }
      .content__right .friends-chat-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        .content__right .friends-chat-container__header--text-wrapper {
          font-size: 17px;
          font-weight: 600;
          color: #65676b; }
        .content__right .friends-chat-container__header--etc-option-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center; }
          .content__right .friends-chat-container__header--etc-option-wrapper .icon-wrapper {
            padding: 1rem;
            border-radius: 40px;
            margin-left: 0.5rem;
            transition: all 0.4s; }
            .content__right .friends-chat-container__header--etc-option-wrapper .icon-wrapper:hover {
              background-color: #cecfd1; }
            .content__right .friends-chat-container__header--etc-option-wrapper .icon-wrapper .share-icon.video {
              background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/FmlBQnWPiFF.png);
              background-size: 25px 303px;
              background-repeat: no-repeat;
              display: inline-block;
              filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
              width: 16px;
              height: 16px;
              background-position: 0 -209px; }
            .content__right .friends-chat-container__header--etc-option-wrapper .icon-wrapper .share-icon.search {
              background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/C8h7srd1X18.png);
              background-size: 25px 896px;
              background-repeat: no-repeat;
              display: inline-block;
              filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
              width: 16px;
              height: 16px;
              background-position: 0 -702px; }
            .content__right .friends-chat-container__header--etc-option-wrapper .icon-wrapper .share-icon.more {
              background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/C8h7srd1X18.png);
              background-size: 25px 896px;
              background-repeat: no-repeat;
              display: inline-block;
              filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
              width: 16px;
              height: 16px;
              background-position: 0 -685px; }
      .content__right .friends-chat-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        width: 100%;
        transition: all .4s ease-in-out; }
        .content__right .friends-chat-container__item-wrapper:hover {
          background-color: #cecfd1; }
        .content__right .friends-chat-container__item-wrapper__avatar-wrapper {
          position: relative;
          margin: 1rem; }
          .content__right .friends-chat-container__item-wrapper__avatar-wrapper__avatar {
            border-radius: 40px;
            height: 25px;
            width: 25px;
            position: relative; }
          .content__right .friends-chat-container__item-wrapper__avatar-wrapper__active-icon {
            position: absolute;
            background-color: green;
            border-radius: 40px;
            border: solid 1px #FFFFFF;
            height: 8px;
            width: 8px;
            bottom: 0;
            right: 0; }
        .content__right .friends-chat-container__item-wrapper__name {
          font-size: 15px;
          font-weight: 500; }
