// Color 
$white :#FFFFFF;
$white-grey :rgb(240, 242, 245);
$white-grey-2 :rgb(206, 207, 209);
$red: #e24040;
$black: black;
$blue-light: #1877f2;

$secondary-text: #65676b;
$accent: #1876f2;

$--primary-button-background: #1877f2;
$popover-background:  #FFFFFF;

$always-white:  #FFFFFF;
$always-black:  black;
$always-dark-gradient:  linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
$always-dark-overlay:  rgba(0, 0, 0, 0.4);
$always-light-overlay:  rgba(255, 255, 255, 0.4);
$always-gray-40:  #65676B;
$always-gray-75:  #BCC0C4;
$always-gray-95:  #F0F2F5;

$shadow-1:  rgba(0, 0, 0, 0.1);
$shadow-2:  rgba(0, 0, 0, 0.2);
$shadow-5:  rgba(0, 0, 0, 0.5);
$shadow-8:  rgba(0, 0, 0, 0.8);
$shadow-inset:  rgba(255, 255, 255, 0.5);

$filter-accent:  invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
$filter-always-white:  invert(100%);
$filter-disabled-icon:  invert(80%) sepia(6%) saturate(200%) saturate(120%) hue-rotate(173deg) brightness(98%) contrast(89%);
$filter-placeholder-icon:  invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
$filter-primary-icon:  invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
$filter-secondary-icon:  invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
$filter-warning-icon:  invert(77%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(128%) hue-rotate(359deg) brightness(102%) contrast(107%);
$filter-blue-link-icon:  invert(30%) sepia(98%) saturate(200%) saturate(200%) saturate(200%) saturate(166.5%) hue-rotate(192deg) brightness(91%) contrast(101%);
$filter-positive:  invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
$filter-negative:  invert(25%) sepia(33%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%) hue-rotate(345deg) brightness(132%) contrast(96%);

// Media Querie Break Points

// Small phones
$screen-tn-max: 450px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 596px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Phone devices
@mixin tn {
  @media (max-width: #{$screen-tn-max}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}